#plurkEasyEmoticonDiv {
  z-index:9999;
  position: fixed;
  background-color:#fff;
  display: none;
}

.bottom-bar {
  bottom:0;
  width:100%;
}

.top-bar {
  top:0;
  width:100%;
}

#plurkEasyEmoticonDiv img:hover {
  border: 2px solid #D3A13E;
}